.youtube-wrapper {
  position: absolute;
   min-width:145px;
  min-height: 40px;
  cursor: move;
  top:4%; // ⬅️ Điều chỉnh vị trí thấp hơn
    right: 1%;
  
  background: rgba(161, 157, 143, 0.437);
  padding: 10px;
  border-radius: 35px;
   z-index: 999;


  @media (max-width: 768px) {
    top:10%; // ⬅️ Điều chỉnh vị trí thấp hơn
    right: 2%;
  }



@media (max-width: 480px) {
  top:8%; // ⬅️ Điều chỉnh vị trí thấp hơn
  right: 1%;

}


}

.youtube-form input {
  padding: 6px;
  border-radius: 25px;
  border: none;
  margin-right: 8px;
  background-color: #e0dfd4c9;
}

.youtube-form button {
  background-color: #e6ae37;
  border: none;
  border-radius: 25px;
  padding: 6px 10px;
  color: rgb(245, 238, 238);
  cursor: pointer;
}

.youtube-toggle {
  background: none;
  border: none;
  padding: 10px;

  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1px;
}

.youtube-player {
  margin-top:1px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  
}
.player-wrapper {
  width: 260px;
  height: 146px; // tương ứng tỷ lệ 16:9
  overflow: hidden;
  border-radius: 20px; // bo tròn
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  iframe {
    border: none;
    border-radius: 16px; // áp dụng cho iframe nếu cần
  }
}
.youtube-player button {
  font-size: 12px;
  padding: 10px;
  
  border-radius: 15px; // ✅ bo tròn nút
  border: none;
  background-color: #ffffffcc; // trắng mờ
  color: #333;
  cursor: pointer;
  margin-top: 1px;
  transition: all 0.2s ease;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.youtube-player button:hover {
  background-color: #ffffffee;
}

.youtube-toggle-global {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffae00;

  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  font-size: 14px;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.youtube-hide-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center; 

  top: -5px;
  right:1px;
 

  background-color: #fcbb2d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  
 
  
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
  padding: 12px;
}

.youtube-hide-btn:hover {
  background-color: #ffa500;
}
.youtube-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.youtube-title {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.845);
  font-size: 14px;
}


/* Theme tối */
.youtube-wrapper.night {
  
  .youtube-hide-btn,
  .youtube-form button {
 
    background-color: #04013d8d;
    color: white;
  }
}


